<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
    {% if app.user %}
      <a href="{{ path('logout') }}">Log out</a>
    {% else %}
      <a href="{{ path('login') }}">Log in</a>
    {% endif %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    <footer>Site developpé par {{ webmaster }}</footer>
</body>

</html>
